@model MyOnlineShop.DataAccess.Models.Product

    <tr>
        <td>@Model.ProductID</td>
        <td>@Model.ProductName</td>
        <td>@Model.ProductDescription</td>
        <td>@Model.Amount</td>
        <td>@Model.Category</td>
    </tr>